# Development Environment CLI Configuration
---
- name: "build-docs"
  description: "Build the project's documentation."
  path: "documentation_root"
  commands:
    - "make html"
  success: "Documentation Built"
  failure: "Error Building Documentation"
- name: "build-wheel"
  description: "Build a distribution wheel."
  path: "git_root"
  commands:
    - "poetry build"
  success: "Wheel Built"
  failure: "Error Building Wheel"
- name: "coverage"
  description: "Run code coverage test."
  path: "git_root"
  commands: |
    pytest --cov-config=.coveragerc --cov-report term-missing --cov-fail-under=100 --cov="${PROJECT_NAME}" "${PROJECT_NAME}/" ${PIB_OVERLOAD_ARGUMENTS}
    EXIT_CODE="$?"
    coverage html
    exit "${EXIT_CODE}"
  success: "Coverage Passed!"
  failure: "Coverage Failed!"
- name: "fmt"
  description: "Run code formatters."
  path: "git_root"
  commands:
    - 'yapf -i --recursive .'
    - 'isort "${PROJECT_NAME}"'
  success: "Formatting Finished!"
  failure: "Formatting Error!"
- name: "leaks"
  description: "Run a scan for leaked credentials in commits."
  container_only: true
  path: "git_root"
  commands:
    - 'gitleaks detect -v'
  success: "Credential leaks Test Passed!"
  failure: "Credential leaks Test Failed!"
- name: "lint"
  path: "git_root"
  description: "Run the code linters."
  commands:
    - 'yamllint *.yml .*.yml assets/ .github/workflows/'
    - 'darglint "${PROJECT_NAME}"'
    - 'pydocstyle "${PROJECT_NAME}"'
    - 'pydocstyle --config=.pydocstyle.tests "${PROJECT_NAME}"'
    - 'isort -c "${PROJECT_NAME}"'
    - 'pytest --pylint --pylint-jobs=2 "${PROJECT_NAME}"'
  success: "Linter Test Passed!"
  failure: "Linter Test Failed!"
- name: "reinstall-requirements"
  description: "Reinstall the project requirements."
  path: "git_root"
  commands:
    - "poetry lock"
    - "poetry install -E docs"
  success: "Reinstall Succeeded!"
  failure: "Reinstall Failed!"
- name: "sectest"
  description: "Run the security tests."
  path: "git_root"
  commands:
    - 'bandit -r "${PROJECT_NAME}" -c pyproject.toml -x tests'
    - 'echo "\nPoetry is exporting the lockfile standby..."'
    - 'poetry export --without-hashes -f requirements.txt | safety check --stdin'
  success: "Security Test Passed!"
  failure: "Security Test Failed!"
- name: "test"
  description: "Run the unittests."
  path: "git_root"
  commands:
    - 'pytest ${PIB_OVERLOAD_ARGUMENTS}'
  success: "Unittests Passed!"
  failure: "Unittests Failed!"
- name: "types"
  description: "Run the type checker."
  path: "git_root"
  commands:
    - 'mypy --strict ${PROJECT_NAME}'
  success: "Type Check Passed!"
  failure: "Type Check Failed!"
