# The default PIB CLI configuration.
---
cli_definition:
  - name: "build-wheel"
    description: "Build a distribution wheel."
    path: "repo_root"
    commands:
      - "poetry build"
    success: "Wheel Built"
    failure: "Error Building Wheel"
  - name: "coverage"
    description: "Run code coverage test."
    path: "repo_root"
    commands:
      - 'pytest --cov-report term-missing --cov-report html --cov-fail-under=100 --cov="${PROJECT_NAME}" "${PROJECT_NAME}/" ${PIB_OVERLOAD_ARGUMENTS}'
    success: "Coverage Passed!"
    failure: "Coverage Failed!"
  - name: "fmt"
    description: "Run code formatters."
    path: "repo_root"
    commands:
      - 'yapf -i --recursive .'
      - 'isort "${PROJECT_NAME}"'
    success: "Formatting Finished!"
    failure: "Formatting Error!"
  - name: "lint"
    path: "repo_root"
    description: "Run the code linters."
    commands:
      - 'yamllint .'
      - 'isort -c "${PROJECT_NAME}"'
      - 'pytest --pylint --pylint-jobs=2 "${PROJECT_NAME}"'
    success: "Linter Test Passed!"
    failure: "Linter Test Failed!"
  - name: "reinstall-requirements"
    description: "Reinstall the project requirements."
    path: "repo_root"
    commands:
      - "poetry lock"
      - "poetry install"
    success: "Reinstall Succeeded!"
    failure: "Reinstall Failed!"
  - name: "sectest"
    description: "Run the security tests."
    path: "repo_root"
    commands:
      - 'bandit -r "${PROJECT_NAME}" -x tests'
      - 'echo "\nPoetry is exporting the lockfile standby..."'
      - 'poetry export --without-hashes -f requirements.txt | safety check --stdin'
    success: "Security Test Passed!"
    failure: "Security Test Failed!"
  - name: "test"
    description: "Run the unittests."
    path: "repo_root"
    commands:
      - 'pytest ${PIB_OVERLOAD_ARGUMENTS}'
    success: "Unittests Passed!"
    failure: "Unittests Failed!"
